img {
  color: black;
}

.card {
  width: 150px;
  height: 209px;
  border-radius: 6px;
}

.carousel__card {
  width: 150px;
  height: 209px;
  border-radius: 6px;
  padding: 0 5px;
}

.card__book {
  max-width:600px;
  position: relative;
  width: 37rem;
  height: 34rem;
  /* padding: 1rem; */
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 1rem;
  background-color: aquamarine;
  /* justify-content: center; */
}
@media (min-width: 577px) and (max-width: 1023px){
.card__book__width {
  max-width:520px !important;
}}
.card__slot {
  width: 160px;
  height: 219px;
  /* margin: 0 .8rem; */
  margin: 0 auto;
  border-radius: .7rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__display {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 15px;
  column-gap: 15px;
  margin-bottom: 1rem;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.pokemon__render {
  float: right;
}

.drop__down {
  display: grid;
}

.carouselPic {
  width: 100px;
  height: 130px;
}

.pikachuCard {
  max-width: 100%; /* ensures image doesn't overflow */
  width: 15rem; 
  height: 20.625rem;
  caret-color: transparent;
  margin: 4rem auto;
}

.iphone__screen {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  margin: auto;
  margin-top: 2.5rem;
  border: 10px solid #EAF0F6;
  border-radius: 50%;
  border-top: 10px solid rgb(143, 143, 143);
  width: 75px;
  height: 75px;
  animation: spinner 4s linear infinite;
}

/* CAROUSEL STYLING */
.slider-container {
  width: 100%; /* Adjust this value to your desired width */
  margin: 2rem auto; /* Center the carousel horizontally */
}

.carousel-root .carousel .control-dots {
  display: none;
}

.carousel-root .carousel .carousel-status {
  position: relative;
    top: 0;
    right: 0;
    padding: .7rem;
    font-size: 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    color: #fff;
}
/* END OF CAROUSEL STYLING */

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 576px) {

  /* CAROUSEL STYLING */
  .carousel-root .carousel .carousel-status {
    position: relative;
      top: 0;
      right: 0;
      padding: .4rem;
      font-size: 10px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
      color: #fff;
  }

  .slider-container {
    width: 100%; /* Adjust this value to your desired width */
    margin: 0rem auto 0rem; /* Center the carousel horizontally */
  }

  .carousel-root .carousel.carousel-slider {
    overflow: visible;
    
  }
  /* END OF CAROUSEL STYLING */
  
  .pikachuCard {
    width: 10.5rem; /* multiply original width and height by .7 to get these numbers */
    height: 14.4375rem;
  }

  .card {
    width: 90px;
    height: 125px;
  }

  .carousel__card {
    width: 122.5px;
    height: 171px;
    padding: 0 5px;
  }

  .iphone__screen {
    display: flex;
    flex-direction: column;
  }

  .card__book {
    max-width: 380px;
    /* width: 22rem; */
    height: 20rem;
  /* justify-content: center; */
  border-radius: 1rem;
  background-color: aquamarine;
  }
 
  .create__user__btn {
    width: 6rem;
    height: 4rem;
  }

  .card__slot {
    width: 100px;
    height: 130px;
    /* margin: 0 .3rem; */
    margin: 0 auto;
  }

  .carousel-root { 
    margin-bottom: 0rem;
  }
}
