/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

img {
  color: black;
}

.card {
  width: 150px;
  height: 209px;
  border-radius: 6px;
}

.carousel__card {
  width: 150px;
  height: 209px;
  border-radius: 6px;
  padding: 0 5px;
}

.card__book {
  width: 37rem;
  height: 34rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 1rem;
  background-color: aquamarine;
  /* justify-content: center; */
}

.card__slot {
  width: 160px;
  height: 219px;
  margin: 0 .8rem;
  border-radius: .7rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__display {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 15px;
  column-gap: 15px;
  margin-bottom: 1rem;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.pokemon__render {
  float: right;
}

.drop__down {
  display: grid;
}

.carouselPic {
  width: 100px;
  height: 130px;
}

.slider-container {
  width: 100%; /* Adjust this value to your desired width */
  margin: 0 auto; /* Center the carousel horizontally */
}

.pikachuCard {
  max-width: 100%; /* ensures image doesn't overflow */
  width: 15rem; 
  height: 20.625rem;
  caret-color: transparent;
  margin: 4rem auto;
}

.iphone__screen {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.enterPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .pikachuCard {
    width: 10.5rem; /* multiply original width and height by .7 to get these numbers */
    height: 14.4375rem;
  }

  .card {
    width: 90px;
    height: 125px;
  }

  .carousel__card {
    width: 122.5px;
    height: 171px;
    padding: 0 5px;
  }

  .iphone__screen {
    display: flex;
    flex-direction: column;
  }

  .card__book {
    width: 22rem;
    height: 20rem;
  justify-content: center;
  border-radius: 1rem;
  background-color: aquamarine;
  }

  .create__user__btn {
    width: 6rem;
    height: 4rem;
  }

  .card__slot {
    width: 100px;
    height: 130px;
    margin: 0 .3rem;
  }

  .carousel-root { 
    margin-bottom: 0rem;
  }
}

