#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  color: black;
}

.cardRender {
  float: left;
}

.card {
  width: 150px;
  height: 209px;
  /* margin: 0 1rem 0rem 1rem; */
}

.cardBook {
  width: 37rem;
  height: 34rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 2rem;
  align-items: center;
  border-radius: 1rem;
  background-color: aquamarine;
  /* justify-content: center; */
}

.card__slot {
  width: 160px;
  height: 219px;
  margin: 0 0rem 0rem 1rem;
  border-radius: .7rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trash__can {
  width: 107px;
  height: 107px;
  margin: 0 0rem 0rem 2rem;
  border-radius: .3rem;
  background-color: white;
}

.cardDisplay {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 15px;
  column-gap: 15px;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.flexPurpose {
  
}

.PokemonRender {
  float: right;
}

.dropDown {
  display: grid;
}

.cardPictures {
  padding: 2rem;
  margin: 2rem;
}

@media screen and (max-width: 576px) {
  .card {
    width: 70px;
    height: 105px;
  }

  .iphoneScreen {
    display: flex;
    flex-direction: column-reverse;
  }

  .cardBook {
    display: none;
  }

  .cardBookMobile {
    width: 22rem;
    height: 20rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 2rem;
  align-items: center;
  border-radius: 1rem;
  background-color: aquamarine;
  }

  .card__slot {
    width: 80px;
    height: 110px;
    margin: 0 0rem 0rem 1rem;
    border-radius: .7rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trash__can {
    display: none;
  }

  .bookletTab {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: aquamarine;
  }

  .button__view {
    display: flex;
  }
  /* .cardRender {
    float: none;
  } */

  
}

/* .App {
  font-family: pokeFont;
} */

